header ul {
  display: inline-block;
  width: 80vw !important;
}

@media screen and (max-width: 576px) {
  header ul {
    width: 70vw !important;
  }
}

header .ant-avatar {
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}
